<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello world</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    {{nav}}
    <main class="articles-list">
      {% for article in articles %}
      <div class="article">
        <a href="{{article.path}}" class="article-link">
          <h2 class="article-title">{{ article.title }}</h2>
          <p class="article-description">{{article.description}}</p>
        </a>
      </div>
      {% endfor %}
    </main>
  </body>
</html>
