<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello world</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="articles">
      {% for article in articles %}
      <div class="article">
        <h2 class="article-title">
          <a href="{{article.path}}">{{ article.title }}</a>
        </h2>
        <p class="article-description">{{article.description}}</p>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
